### Apple files ###
**/.DS_Store

### Object files ###
**/src/obj/*.o

### Binar files ###
/philo_one/philo_one
/philo_two/philo_two
/philo_three/philo_three



### CLion files and directories ###
CMakeLists.txt
cmake-build-debug/
**/.idea


!.gitignore
